.ccentro {
  text-align: center;
}

.tlight {
  font-weight: 400 !important;
  text-transform: uppercase;
}

.toradores {
  text-transform: uppercase;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.contenedor2 {
  background-color: #293035;
}

.subpunto {
  border-bottom: 1px dotted;
}

a:link,
a:visited {
  text-decoration: none;
}

.h1404 {
  font-size: 8rem;
}

.h4404 {
  font-weight: bold;
}

@media (min-width: 768px) {
  .contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
  }

  .cderecha {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
  }

  .oscurecer-img {
    filter: brightness(50%);
  }
}

@media (max-width: 767px) {
  .contenedor {
    background-color: #293035;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
  div > span {
    text-align: center;
  }
}

.margenp {
  padding-top: 3rem !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}
